.Dashboard { 
  display: flex; 
  flex-direction: column;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}

.header { 
  display: flex; 
  align-items: flex-start;
  flex: 1;
  color: #3c3c3c;
  padding: 20px;
  width: 100%;
}

.header > header > h1 {
  font-size: 55px;
  font-weight: 400;
}

.header > header > h1 > span {
  font-weight: bold;
  color: #67f;
}

.container { 
  display: flex; 
  flex-direction: column; 
  width: 100%;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 85px;
  justify-content: flex-start;
  margin-top: 40px;
  max-width: 700px;
}

form > input {
  flex: 1;
  border: 0;
  height: 80px;
  border-radius: 5px 0 0 5px;
  font-size: 18px;
  color: #3a3a3a;
  padding: 0px 24px;
}

form > button {
  background-color: #67f;
  border: 0;
  border-radius: 0 5px 5px 0;
  height: 80px;
  width: 210px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;       
}

form > button:hover {
  background: #56e;
}

main {
  flex: 1 1;
  height: 100%;
}

.card-container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 5px;
  height: 65px;
  margin-bottom: 10px;
  align-items: center;
  text-decoration: none;
  max-width: 660px;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

.card-container:hover {
  transform: translateX(10px);
  box-shadow: 2px 2px 12px 1px #6677ff33;
}

.card-container > img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.card-content {
  padding: 5px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-content > h1 {
  margin: 0;
  color: #333;
  font-size: 20px;
}

.card-content > p {
  margin-top: 4px;
  font-size: 16px;
  color: #6c6c6c;
}